body {
    background: #f5f6fa;
    font-family: 'Oswald', sans-serif;
}

.index {
    width: 100vw;
    height: 100vh;
}

.navbar {
    background: red !important;
}

.cardbar {
    background: red !important;
}

.nav-link {
    color: #fff !important;
}

.masthead {
    color: black;
    min-height: 30rem;
    width: 100%;
    height: 100%;
    padding-top: 8rem;
    padding-bottom: 8rem;
    background: url('/img/background.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.masthead h1 {
    font-size: 4rem;
    margin: 0;
    padding: 0;
}

@media (min-width: 992px) {
    .masthead {
        height: 100vh;
    }
    .masthead h1 {
        font-size: 5.5rem;
    }
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
    grid-template-rows: minmax(20px, auto);
}

.nested-grid>h6 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 100px;
    gap: 1em;
}